.cart {
  padding: 20px 0;
  padding-bottom: 15rem;
}
.cart__wrapper {
  margin-top: 2rem;
  width: 100%;
  .cart__header {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    div span {
      font-size: 1.2rem;
    }
  }
  //cart item component
  .cartItem {
    padding: 20px 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .cartItem__productImg {
      max-width: 120px;
      img {
        width: 100%;
      }
    }
    .cartItem__quantitySelector {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      button {
        border: 1px solid #dadada;
        outline: none;
        background-color: transparent;
        padding: 5px 10px;
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
        &:hover {
          background-color: #ebebeb;
        }
      }
    }
    .removeProductBtn {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media (min-width: 980px) {
  .cartItem__productImg {
    max-width: 50px;
  }
}
