.app {
  background-color: #fafafa;
  min-height: 100vh;
}
//toastify
// .Toastify__toast-container {
//   width: 320px;
// }
.Toastify__toast--default {
  background: #fff;
  color: #aaa;
}
.Toastify__toast--info {
  background: #09636b;
}
.Toastify__toast--success {
  background: #07bc0c;
}
.Toastify__toast--warning {
  background: #f1c40f;
}
.Toastify__toast--error {
  background: #e74c3c;
}
